@import url('http://fonts.googleapis.com/css?family=Pacifico:400,700&display=swap');
@import url('http://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.App {
  font-family: 'Lato', 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2 {
  font-family: 'Pacifico', 'Lato', 'Open Sans', sans-serif;
}

h4 {
  font-size: 22px;
}

.Menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}


/* Mobile responsive settings */
@media only screen and (max-width: 599px) {

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
  }

  .Body {
    margin-top: 127px;
  }

}

/* Desktop responsive settings */
@media only screen and (min-width: 600px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 26px;
    font-weight: 400;
  }

  .Body {
    margin-top: 196px;
  }

}